USE [master]
GO
/****** Object:  Database [EmployeeInformationDB]    Script Date: 5/13/2015 12:23:10 PM ******/
CREATE DATABASE [EmployeeInformationDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeeInformationDB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\EmployeeInformationDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EmployeeInformationDB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\EmployeeInformationDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeeInformationDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeeInformationDB]
GO
/****** Object:  Table [dbo].[tbl_employee]    Script Date: 5/13/2015 12:23:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_employee](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Address] [varchar](50) NULL,
	[Email] [varchar](50) NOT NULL,
	[Salary] [float] NULL,
 CONSTRAINT [PK_tbl_employee_1] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_employee] ON 

INSERT [dbo].[tbl_employee] ([ID], [Name], [Address], [Email], [Salary]) VALUES (1, N'Atib', N'jigatola', N'atib@gmail.com', 30000)
INSERT [dbo].[tbl_employee] ([ID], [Name], [Address], [Email], [Salary]) VALUES (8, N'Rahat', N'Banani', N'rahat@gmail.com', 45000)
INSERT [dbo].[tbl_employee] ([ID], [Name], [Address], [Email], [Salary]) VALUES (10, N'Atibur Rahman', N'mohakhali', N'atiburrahman09@gmail.com', 25000)
SET IDENTITY_INSERT [dbo].[tbl_employee] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_tbl_employee_1]    Script Date: 5/13/2015 12:23:10 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_tbl_employee_1] ON [dbo].[tbl_employee]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
